$brown-dark: #592819;
$brown-med: #934A30;
$brown-light: #DF8C63;
$green-light: #D4FFDE;
$green-mint: #abd387;
$green-med: #639E5D;
$green-fade: rgb(164, 217, 125);
$cream: #FFF2D4;

$text-color: $cream;

